/* assets/css/style.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: radial-gradient(
      circle at right,
      rgba(59, 130, 246, 0.6),
      transparent 70%
    ),
    linear-gradient(to top right, rgb(54, 175, 136), rgba(27, 139, 186, 1));
  background-attachment: fixed;
  background-size: cover;
  color: #111827;
  line-height: 1.6;
  padding: 2rem;
}

.post {
  max-width: 800px;
  margin: auto;
  padding: 0;
}

.typing-wrapper {
    display: inline-block;
    position: relative;
    width: 10.5ch;
}

.typing {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Fira Code', 'Courier New', monospace;
    line-height: 1;
    vertical-align: baseline;
}

.cursor {
    display: inline-block;
    width: 0.4em;
    height: 1.2em;
    background: #FFF;
    margin-left: 2px;
    animation: blink 1s step-start infinite;
    vertical-align: text-bottom;
}

@keyframes blink {
    50% {
        background: transparent;
    }
}
